In [3]:
import pandas as pd

data = pd.read_csv('csv/train.csv', index_col='PassengerId')

In [4]:
data['is_male'] = (data['Sex'] == 'male').astype(int)
data['is_female'] = (data['Sex'] == 'female').astype(int)

In [5]:
data = data.drop(columns=['Name', 'Ticket', 'Cabin', 'Embarked'])

In [6]:
data.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,is_male,is_female
PassengerId,,,,,,,,,
1,0,3,male,22.0,1,0,7.2500,1,0
2,1,1,female,38.0,1,0,71.2833,0,1
3,1,3,female,26.0,0,0,7.9250,0,1
4,1,1,female,35.0,1,0,53.1000,0,1
5,0,3,male,35.0,0,0,8.0500,1,0

In [10]:
X = data.drop(columns=['Survived'])
y = data['Survived']

In [12]:
from sklearn.model_selection import train_test_split

# заданный random_state позволит избавится от случайности при тестировании, test_size 0.3 - соотношение 30 на 70
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.3)

In [13]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier()
tree.fit(X_train, y_train)
y_predicted_train = tree.predict(X_train)

print(accuracy_score(y_train, y_predicted_train))

NameError: name 'DecisionTreeClassifier' is not defined

In [7]:
import numpy as np

xx, yy = np.meshgrid(np.linspace(X[:,0].min(), X[:,0].max(), 20),
                     np.linspace(X[:,1].min(), X[:,1].max(), 20))

points = np.stack([xx, yy], axis=-1).reshape(-1, 2)

plt.contourf(xx, yy, tree.predict(points).reshape(20,20))

NameError: name 'X' is not defined

In [ ]:
from sklearn.externals.six import StringIO  
from sklearn.tree import export_graphviz
from IPython.display import Image  
import pydotplus

# это рисование дерево с использованием библиотеки graphviz, ее нужно устанавливать отдельно.
dot_data = StringIO()
export_graphviz(tree, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True, impurity=False, feature_names=["X1", "X2"])
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
Image(graph.create_png())